@page "/"

<h3>Blazor Click Test</h3>

<button @onclick="TestClick">Click Me</button>

<p>@message</p>

@code {
    string message = "Not clicked yet";

    void TestClick()
    {
        message = "Button click works!";
    }
}
